body{
    margin: 0;
}

.screen{
    width: 100%;
    height: 100vh;
    background-image: url("../IMG/background.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 7%;
    position: absolute;
}

div{
    display: inline-block;
}

.container{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.square{
    animation: moving 9s linear infinite alternate;
}

.triangle1 {
    animation: moving 8s linear 0.7s infinite;
}

.triangle2 {
    animation: moving 8s linear 1.4s infinite alternate;
}

.triangle3 {
    animation: moving 8s linear 2.1s infinite;
}

.rhombus {
    animation: moving 8s linear 2.8s infinite alternate;
}


@keyframes moving {
    from {transform: translateY(0); color: red;}
    10% {transform: scale(1.2);}
    20% {transform: rotateZ(90deg); color: royalblue;}
    30% {transform: translateY(-140%);}
    50% {transform: rotateX(180deg); color: green;}
    60% {transform: scale(1.3); color: pink;}
    65% {color: purple;}
    80% {transform: translateY(140%); }
    to {color: blue; transform: scale(1);}
}

.sprite {
    width: 75px;  /*76px*/
    height: 75px;  /*85px*/
    margin: 0;
    position: absolute;
    bottom: 0;
    background: url("../IMG/ninja-cat-sprite.png") 798px 652px;
    animation: ninja 0.7s steps(5) infinite, walk 8s ease-in-out infinite;
  }

  
  
  @keyframes walk {
    from {left: 0;}
    to {left: 93%;} 
  }


  @keyframes ninja {
  /* 15% {background-position: 1104px 571px;}
  30% {background-position: 1026px 570px;}
  45% {background-position: 946px 572px;}
  60% {background-position: 861px 572px;}
  75% {background-position: 780px 572px;}
  90% {background-position: 694px 572px;} */
from {background-position: 1104px 572px;}
to {background-position: 694px 572px;}


}


